$color-text:					#032c35;

$color-brand-1:					#29a1bb; // catalina blue

$color-accent:					#fff701; // carmine pink

$color-white:					#fff;

$color-negative:				#f14d58;

$color-tint-dark:				#063541;
$color-tint:					#7d7d82;
$color-tint-light:				#bebec8;
$color-tint-lighter:			#f5f5f5;

$color-tint-hover:              #f5f5f5;

$color-debug:					$color-accent; // colors for development purposes
$color-overlay-background:		rgba($color-white, 0.85);
